/*****************************************************************Fonts******************/
@font-face
{
font-family: "Abadi MT condensed Light";
src: url(AbadiMTcondensedLight.ttf);
}
@font-face
{
font-family: "Avenir Light";
src: url(avenir/AvenirLight.ttf);
}
@font-face
{
font-family: "Avenir Black";
src: url(avenir/AvenirBlack.ttf);
}
@font-face
{
font-family: "Avenir Book";
src: url(avenir/AvenirBook.ttf);
}
@font-face
{
font-family: "FontAwesome";
src: url(FontAwesome.otf);
}
@font-face
{
font-family: "Lato Regular";
src: url(Lato-Regular.ttf);
}
/*****************************************************************Reset******************/
body,ul {
	padding:0;
	margin:0;
}
li {
	list-style: none;
}
h1, h2, h3,h4,h5,h6,div,p,span {
	font-family: "Avenir Light";
	padding: 0;
	margin: 0;
	overflow: hidden;
}
a {
	text-decoration: none;
}
img {
	display: block;
	border: 0;
	outline: 0;
}
input[type="submit"]{
	outline: 0;
}
/*****************************************************General classes******************/
.wrapper {
	min-width: 320px;
}
.content, .headercontent,.tripadvisor {
	text-align: center !important;
}
.tripadvisor ul li {
	display: inline-block;
}
.span1:after {
	content:" ";
	display: block;
	clear: both;
}
.headerbg {
	overflow: visible;
}
.findoutmore {
	display: inline-block !important;
}
.findoutmore:active {
	padding-top: 31px;
	padding-bottom:25px;;
}

.callmeformwrapper input[type="submit"]:active{
	padding-top: 12px;
	padding-bottom: 18px;
}
.contactform input[type="submit"]:active{
	padding-top: 18px;
	padding-bottom: 12px;
}
#contact {
	text-align: left;
}
/* Large screens -and standard screens----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen 
and (min-width : 800px) {
/* Styles */
.span1 {
	min-width: 800px;
	max-width: 1000px;
	display: block;
	padding:0 10px;
	margin: 0 auto;
	position: relative;
	overflow: visible;
}
.span1 ul {
	display: none;
}
/*****************************************************************Header******************/
header {
	width: 100%;
	height: 80px;;
	display: block;
	line-height: 80px;
	overflow: visible;
}
.headerwrapper {
		width: 100%;
		height: 645px;
		display: block;
		background: url(../images/header.jpg) no-repeat;
		background-position: 50%;
		background-size: 100% 100%;
}
.header {
		background: url(../images/bg.png) repeat;
		overflow: visible;
}
.header h1 {
	color: #b9492f;
	float: left;
	font-size: 26pt;
	font-weight: normal;
}
ul.nav {
	float: right;
	
}
ul.nav li {
	list-style-type: none;
	display: inline-block;
	margin-left: 48px;
}
ul.nav li a {
	color: white;
	text-decoration: none;
	font-family:"Abadi MT condensed Light";
}
ul.nav li a span {
	color: #b9492f;
	font-weight: bold;
}
#navigator {
	float: right;
	width: 50px;
	height: 100%;
	display: none;
	background: url(../images/navigator.jpg) no-repeat;
	background-position: 50%;
	border: 0;
	cursor: pointer;
}
.headercontent {
	height: 484px;
	background: url(../images/headercontentbg.png) repeat;
}
.headercontent h1.caption{
	color: white;
	font-size: 42pt;
	font-weight: normal;
	font-family:"Avenir Light";
	padding-top: 140px;
}
.headercontent h1.about {
	color: white;
	font-size: 45pt;
	font-family:"Avenir Black";
}
.findoutmore {
	width:174px;
	display: block;
	color: white;
	font-size: 16pt;
	font-family: "Avenir Black";
	text-align:center;
	background: url(../images/findoutmore.png) no-repeat;
	padding: 28px;
	border-radius: 15px;
	margin-top: 20px;
}
.findoutmore:hover {
	box-shadow: 0 0 15px #FFF;
}
.callmeformwrapper {
	height:80px;
	line-height:80px;
	text-align: center;
	background: #000;
}
.callmeformwrapper input[type="text"], input[type="tel"]{
	width: 250px;
	font-size: 17pt;
	font-family:"Abadi MT condensed Light";
	padding: 15px;
	margin-left: 15px;
	border-radius: 5px;
	border: 0;
}
.callmeformwrapper input[type="submit"]{
	color: white;
	font-size: 17pt;
	font-family:"Avenir Black";
	background:#65ab52;
	border-radius: 5px;
	border: 0;
	padding: 15px;
	margin-left: 15px;
	cursor: pointer;
}
.callmeformwrapper input[type="submit"]:hover {
	box-shadow: 0 0 15px #FFF;
}
/*****************************************************************Content******************/
.content ul li {
	display: inline-block;
}
.tile {
	float: left;
	width: 304px;
	height: 258px;
	display: inline-block;
	text-align: center;
	background: #000;
	margin: 33px 0;
}
.tile h1 {
	color: white;
	font-size: 25pt;
	font-weight: normal;
	padding-top: 15px;
}
.tile h2 {
	color: #b9492f;
	font-weight: normal;
}
.tile p {
	color: #c26a56;
	font-size: 16pt;
	padding:5px 0;
}
.swrap {
	margin: 15px 5px;
}
.restauhours {
	margin: 33px 30px;
}
.reservations {
}
.reservations h1 {
	padding-bottom: 30px;
}
.reservations h2 {
	background: url(../images/tel.png) no-repeat;
	background-position: 40px;
	font-family: "Avenir Black";
	padding:10px;
	padding-left: 20px;

}
.about_pub {
	color: white;
	width: 100%;
	background: #b9492f;
}
.the_pub {
	float: left;
	width: 50%;
}
.about_pub  h1,.about_craic h1 {
	font-size: 40pt;
	margin:45px 0;
}
.about_pub p,.about_craic p {
	font-size: 16pt;
	text-align: left;
	padding-left: 0;
	padding-right: 58px;
	margin-top: 15px;
}
.party2 {
	float: left;
	width: 50%;
}
.about_restau {
	color: #343434;
}
.about_restau h1 {
	font-size: 40pt;
	margin:45px 0;
}
.about_restau h1, p  {
	text-align: left;
	padding-left: 40px;
}
.about_restau p {
	font-size: 16pt;
}
.about_craic {
	background-color: #d2d1d0;
}
.tripadvisor {
	background: url(../images/tripadvisor.png) no-repeat;
	background-position: 50% 40px;
	padding: 150px 0 105px 0;
}
.comments {
	width: 298px;
	height: 200px;
	float: left;
	background: url(../images/commentbg.png) no-repeat;
	margin-bottom: 10px;
}
.comments p {
	font-family: "FontAwesome";
}
.comments span {
	font-size: 10px;
}
.comments p:first-child {
	font-size: 18pt;
	padding: 40px;
}
.comments p:last-child span.bullets{
	width: 70px;
	height: 14px;
	display: inline-block;
	background: url(../images/bullet.png) repeat-x;
}
.pos2 {
	background: url(../images/commentbg2.png) no-repeat;
	margin-left: 38px;
	margin-right: 38px;
}
.contactformwrapper {
	min-height:850px;
	display: block;
	position: relative;
	overflow: hidden;
}
#gmap{
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 1;
	
}
#contact {
	position: absolute;
	top: 43px;
	right: 0;
	z-index: 100;
}

.contactformwrapper {
	min-height:850px;
	display: block;
	position: relative;
	overflow: hidden;
}
.contactformwrapper h1 {
	color: #343434;
	font-size: 45pt;
	font-weight: normal;
}
.contactformwrapper h2 {
	color: #343434;
	font-size: 25pt;
	font-weight: normal;
}
.contactform {
	float: right;
	width: 410px;
	background: white;
	padding: 41px;
	box-shadow: 0px 0px 1px gray;
}
.contactform div {
	padding: 20px 0;
}
.contactform p {
	font-size: 20pt;
	padding:0;
}
.contactform input[type="text"],input[type="email"],textarea {
	width: 408px;
	color: #b9492f;
	font-size: 15pt;
	font-family: "Lato Regular";
	padding: 15px;
	padding-right: 0;
	border-radius: 5px;
	border: 0;
	box-shadow:0 0 2px gray;
	margin: 10px 0;
}
.contactform input[type="submit"]{
	color: white;
	font-size: 15pt;
	font-family:"Lato Regular";
	background: #b9492f;
	padding: 15px;
	border-radius: 5px;
	border:0;
	cursor: pointer;
}
.contactform input[type="submit"]:hover{
	box-shadow: 0 0 15px #000;
}
.contactform textarea {
	height: 145px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b9492f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b9492f;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b9492f;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b9492f;
}

.fiddler {
	color: #b9492f;
	font-weight: bold;
	font-family: "Avenir Book";
}
.tel {
	font-family: "Avenir Black" !important;
}
/*****************************************************************Footer******************/
.footer {
	color: white;
	height: 65px;
	line-height: 65px;
	background: #000;
}
.footer h6 {
	font-size: 11pt;
	font-weight: normal;
	font-family: "Avenir Book";
}
}
/* end Large screens and standard screens----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Small port view of standard screens----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen 
and (max-width : 800px) {
/* Styles */
.span1 {
	min-width: 380px;
	display: block;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	overflow: visible;
}
headerbg {
	overflow: visible;
}
/*****************************************************************Header******************/
header {
	width: 100%;
	height: 80px;
	display: block;
	position: relative;
	overflow: visible;
}
.headerwrapper {
		width: 100%;
		display: block;
		background: url(../images/header.jpg) no-repeat;
		background-position: 50%;
		background-size: 100% 100%;
		overflow: hidden;
}
.header {
		overflow: visible;
		background: url(../images/bg.png) repeat;
}
.header h1 {
	color: #b9492f;
	float: left;
	font-size: 26pt;
	font-weight: normal;
	line-height: 80px;
}
ul.nav {
	clear: both;
	width: 200px;
	background: black;
	position: absolute;
	right:0;
	top: 80px;
	display: none;
	
}
ul.nav li {
	list-style-type: none;
	display: block;
	padding-left: 48px;
}
ul.nav li:hover {
	background: white;
}
ul.nav li a {
	color: white;
	height: 40px;
	line-height: 40px;
	font-family:"Abadi MT condensed Light";
	display: block;
	text-decoration: none;
}
ul.nav li a:hover {
	color: black;
}
ul.nav li a span {
	color: #b9492f;
	font-weight: bold;
}

#navigator {
	float: right;
	width: 50px;
	height: 100%;
	display: block;
	background: url(../images/navigator.jpg) no-repeat;
	background-position: 50%;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.headercontent {
	height: 484px;
	background: url(../images/headercontentbg.png) repeat;
}
.headercontent h1.caption{
	color: white;
	font-size: 42pt;
	font-weight: normal;
	font-family:"Avenir Light";
	padding-top: 70px;
}
.headercontent h1.about {
	color: white;
	font-size: 45pt;
		font-family:"Avenir Black";
}
.findoutmore {
	width:174px;
	display: block;
	color: white;
	font-size: 16pt;
	font-family: "Avenir Black";
	text-align:center;
	background: url(../images/findoutmore.png) no-repeat;
	border-radius: 15px;
	padding: 28px;
	margin-top: 20px;
}
.findoutmore:hover {
	box-shadow: 0 0 15px #FFF;
}
.callmeformwrapper {
	line-height:80px;
	text-align: center;
	background: #000;
}
.callmeformwrapper input[type="text"], input[type="tel"]{
	width: 250px;
	font-size: 17pt;
	font-family:"Abadi MT condensed Light";
	padding: 15px;
	margin-left: 15px;
	border-radius: 5px;
	border: 0;
}
.callmeformwrapper input[type="submit"]:hover {
	box-shadow: 0 0 15px #FFF;
}
.callmeformwrapper input[type="submit"]{
	width: 100%;
	display: block;
	text-align: center;
	color: white;
	font-size: 17pt;
	font-family:"Avenir Black";
	background:#65ab52;
	border: 0;
	padding: 15px;
}
/*****************************************************************Content******************/
.tile {
	width: 304px;
	height: 258px;
	display: inline-block;
	text-align: center;
	background: #000;
	margin: 33px 0;
}
.tile h1 {
	color: white;
	font-size: 25pt;
	font-weight: normal;
	padding-top: 15px;
}
.tile h2 {
	color: #b9492f;
	font-weight: normal;
}
.tile p {
	color: #c26a56;
	font-size: 16pt;
	padding:5px 0;
}
.swrap {
	margin: 15px 5px;
}
.restauhours {
	margin: 33px 0px;
}
.reservations h1 {
	padding-bottom: 30px;
}
.reservations h2 {
	font-family: "Avenir Black";
	background: url(../images/tel.png) no-repeat;
	background-position: 40px;
	padding:10px;

}
.about_pub {
	color: white;
	width: 100%;
	background: #b9492f;
}
.the_pub {
	min-width: 304px;
	width: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.about_pub  h1,.about_craic h1 {
	font-size: 40pt;
	margin:45px 0;
	padding-left: 29px;
}
.about_pub p,.about_craic p {
	font-size: 16pt;
	text-align: left;
	padding-left:29px;
	padding-right: 29px;
	padding-bottom: 20px;
	margin-top: 15px;
}
.party2 {
	min-width: 304px;
	width: 50%;
	margin: 0 auto;
}
.about_restau {
	color: #343434;
}
.about_restau h1 {
	font-size: 40pt;
	padding-left: 29px;
	margin:45px 0;
}
.about_restau h1, p  {
	text-align: left;
	padding-left: 40px;
	padding-bottom: 20px;
}
.about_restau p {
	font-size: 16pt;
}
.about_craic {
	background-color: #d2d1d0;
}
.tripadvisor {
	background: url(../images/tripadvisor.png) no-repeat;
	background-position: 50% 40px;
	
}
.tripadvisor ul {
	padding: 150px 0 105px 0;
}
.comments {
	width: 298px;
	height: 200px;
	background: url(../images/commentbg.png) no-repeat;
	margin-bottom: 10px;
}
comments p {
	font-family: "FontAwesome";
}
.comments span {
	font-size: 10px;
}
.comments p:first-child {
	font-size: 18pt;
	padding: 40px;
	font-family: "FontAwesome";
}
.comments p:last-child span.bullets{
	width: 70px;
	height: 14px;
	display: inline-block;
	background: url(../images/bullet.png) repeat-x;
}
.pos2 {
	background: url(../images/commentbg2.png) no-repeat;
	margin-left: 38px;
	margin-right: 38px;
}
.contactformwrapper {
	min-height: 850px;
	display: block;
	position: relative;
	overflow: hidden;
}
#gmap{
	position: absolute;
	left: 0;
	z-index: 1;
	
}
#contact {
	position: absolute;
	top: 43px;
	right: 0;
	z-index: 100;
}
.contactformwrapper h1 {
	color: #343434;
	font-size: 35pt;
	font-weight: normal;
}
.contactformwrapper h2 {
	color: #343434;
	font-size: 20pt;
	font-weight: normal;
}
.contactform {
	float: right;
	min-width: 300px;
	max-width: 320px;
	background: white;
	padding: 41px;
	box-shadow: 0px 0px 1px gray;
}
.contactform div {
	padding: 20px 0;
}
.contactform p {
	font-size: 15pt;
	padding:0;
}
.contactform input[type="text"],input[type="email"],textarea {
	width: 100%;
	color: #b9492f;
	font-size: 15pt;
	font-family:"Lato Regular";
	padding: 15px;
	padding-right: 0;
	border-radius: 5px;
	border: 0;
	box-shadow:0 0 2px gray;
	margin: 10px 0;
}
.contactform input[type="submit"]{
	color: white;
	font-size: 15pt;
		font-family: "Lato Regular";
	background: #b9492f;
	padding: 15px;
	border-radius: 5px;
	border:0;
}
.contactform input[type="submit"]:hover{
	box-shadow: 0 0 15px #000;
}
.contactform textarea {
	height: 145px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b9492f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b9492f;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b9492f;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b9492f;
}

.fiddler {
	color: #b9492f;
	font-weight: bold;
		font-family: "Avenir Book";
}
.tel {
	font-family:"Avenir Black" !important;
	
}
/*****************************************************************Footer******************/
.footer {
	color: white;
	height: 65px;
	line-height: 65px;
	background: #000;
}
.footer h6 {
	font-size: 11pt;
	font-weight: normal;
	font-family:"Avenir Book";
	padding-left:10px;
}
}
/* end small port view of standard screens----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* For mobile devices----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media only screen 
and (max-width : 380px) {
.span1 {
	min-width: 280px;
	display: block;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	overflow: visible;
}
headerbg {
	overflow: visible;
}
/*****************************************************************Header******************/
header {
	width: 100%;
	height: 60px;
	display: block;
	position: relative;
	overflow: visible;
}
.headerwrapper {
		width: 100%;
		display: block;
		background: url(../images/header.jpg) no-repeat;
		background-position: 50%;
		background-size: 100% 100%;
		overflow: hidden;
}
.header {
		overflow: visible;
		background: url(../images/bg.png) repeat;
}
.header h1 {
	color: #b9492f;
	float: left;
	font-size: 16pt;
	font-weight: normal;
	line-height: 60px;
}
ul.nav {
	clear: both;
	width: 200px;
	background: black;
	position: absolute;
	right:0;
	top: 60px;
	display: none;
	
}
ul.nav li {
	list-style-type: none;
	display: block;
	padding-left: 38px;
}
ul.nav li:hover {
	background: white;
}
ul.nav li a {
	color: white;
	height: 40px;
	line-height: 40px;
	font-family:"Abadi MT condensed Light";
	display: block;
	text-decoration: none;
}
ul.nav li a:hover {
	color: black;
}
ul.nav li a span {
	color: #b9492f;
	font-weight: bold;
}

#navigator {
	float: right;
	width: 50px;
	height: 100%;
	display: block;
	background: url(../images/navigator.jpg) no-repeat;
	background-position: 50%;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.headercontent {
	height: 484px;
	background: url(../images/headercontentbg.png) repeat;
}
.headercontent h1.caption{
	color: white;
	font-size: 42pt;
	font-weight: normal;
	font-family:"Avenir Light";
	padding-top: 70px;
}
.headercontent h1.about {
	color: white;
	font-size: 45pt;
	font-family:"Avenir Black";
}
.findoutmore {
	width:174px;
	display: block;
	color: white;
	font-size: 16pt;
	font-family: "Avenir Black";
	text-align:center;
	background: url(../images/findoutmore.png) no-repeat;
	border-radius: 15px;
	padding: 28px;
	margin-top: 20px;
}
.findoutmore:hover {
	box-shadow: 0 0 15px #FFF;
}
.callmeformwrapper {
	line-height:80px;
	text-align: center;
	background: #000;
}
.callmeformwrapper input[type="text"], input[type="tel"]{
	width: 200px;
	font-size: 17pt;
	font-family:"Abadi MT condensed Light";
	padding: 15px;
	margin-left: 15px;
	border-radius: 5px;
	border: 0;
}
.callmeformwrapper input[type="submit"]{
	width: 100%;
	display: block;
	text-align: center;
	color: white;
	font-size: 17pt;
	font-family:"Avenir Black";
	background:#65ab52;
	border: 0;
	padding: 15px;
}
.callmeformwrapper input[type="submit"]:hover {
	box-shadow: 0 0 15px #FFF;
}
/*****************************************************************Content******************/
.tile {
	width: 284px;
	height: 258px;
	display: inline-block;
	text-align: center;
	background: #000;
	margin: 33px 0;
}
.tile h1 {
	color: white;
	font-size: 22pt;
	font-weight: normal;
	padding-top: 15px;
}
.tile h2 {
	color: #b9492f;
	font-weight: normal;
}
.tile p {
	color: #c26a56;
	font-size: 14pt;
	padding:5px 0;
}
.swrap {
	margin: 15px 5px;
}
.restauhours {
	margin: 33px 0px;
}
.reservations h1 {
	padding-bottom: 30px;
}
.reservations h2 {
	font-family: "Avenir Black";
	background: url(../images/tel.png) no-repeat;
	background-position: 40px;
	padding:10px;

}
.about_pub {
	color: white;
	width: 100%;
	background: #b9492f;
}
.the_pub {
	min-width: 304px;
	width: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.about_pub  h1,.about_craic h1 {
	font-size: 40pt;
	margin:45px 0;
	padding-left: 29px;
}
.about_pub p,.about_craic p {
	font-size: 16pt;
	text-align: left;
	padding-left:29px;
	padding-right: 29px;
	padding-bottom: 20px;
	margin-top: 15px;
}
.party2 {
	min-width: 304px;
	width: 50%;
	margin: 0 auto;
}
.about_restau {
	color: #343434;
}
.about_restau h1 {
	font-size: 36pt;
	padding-left: 25px;
	margin:45px 0;
}
.about_restau h1, p  {
	text-align: center;
	padding-left: 40px;
	padding-bottom: 20px;
}
.about_restau p {
	font-size: 16pt;
	text-align: left;
}
.about_craic {
	background-color: #d2d1d0;
}
.tripadvisor {
	background: url(../images/tripadvisor.png) no-repeat;
	background-position: 50% 40px;
	background-size: 70%;
	
}
.tripadvisor ul {
	padding: 150px 0 105px 0;
}
.comments {
	width: 258px;
	height: 180px;
	background: url(../images/commentbg.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 10px;
}
.comments p {
	font-family: "FontAwesome";
}
.comments span {
	font-size: 10px;
}
.comments p:first-child {
	font-size: 14pt;
	
	padding: 30px;
}
.comments p:last-child span.bullets{
	width: 70px;
	height: 14px;
	display: inline-block;
	background: url(../images/bullet.png) repeat-x;
}
.pos2 {
	background: url(../images/commentbg2.png) no-repeat;
	background-size: 100%;
	margin-left:0;
	margin-right:0;
}
#gmap{
	position: absolute;
	left: 0;
	z-index: 1;
	
}
#contact {
	position: absolute;
	top: 43px;
	right: 0;
	z-index: 100;
}
.contactformwrapper {
}
.contactformwrapper h1 {
	color: #343434;
	font-size: 35pt;
	font-weight: normal;
}
.contactformwrapper h2 {
	color: #343434;
	font-size: 20pt;
	font-weight: normal;
}
.contactform {
	float: left;
	min-width: 300px;
	max-width: 320px;
	background: white;
	padding: 11px;
	box-shadow: 0px 0px 1px gray;
}
.contactform div {
	padding: 20px 0;
}
.contactform p {
	font-size: 15pt;
	text-align:left;
	padding:0;
}
.contactform input[type="text"],input[type="email"],textarea {
	width: 240px;
	color: #b9492f;
	font-size: 15pt;
	font-family: "Lato Regular";
	padding: 15px;
	padding-right: 0;
	border-radius: 5px;
	border: 0;
	box-shadow:0 0 2px gray;
	margin: 10px 0;
}
.contactform input[type="submit"]{
	color: white;
	font-size: 15pt;
	font-family:"Lato Regular";
	background: #b9492f;
	padding: 15px;
	border-radius: 5px;
	border:0;
}
.contactform input[type="submit"]:hover{
	box-shadow: 0 0 15px #000;
}
.contactform textarea {
	height: 145px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b9492f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b9492f;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b9492f;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b9492f;
}

.fiddler {
	color: #b9492f;
	font-weight: bold;
	font-family: "Avenir Book";
}
.tel {
	font-family: "Avenir Black" !important;
}
/*****************************************************************Footer******************/
.footer {
	color: white;
	height: 65px;
	line-height: 65px;
	background: #000;
}
.footer h6 {
	font-size: 11pt;
	font-weight: normal;
	font-family: "Avenir Book";
	padding-left:10px;
}
}
/* end mobile devices----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */