@font-face {
	name:"PT sans Narrow";
	src:url(ptsans.ttf);
}
@font-face {
	name="PT sans Narrow Bold";
	src=url(ptsansbold.ttf);
}
/* RESET */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  padding: 0;
  margin: 0;
}
a {text-decoration: none;}
img {
	display: block;
}
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

/*BASE******************************************************************************************************/

.wrapper {
	width: 100%;
	min-width: 1000px;
	text-align: center;
}
.button {
	color: #a66307;
	font-size: 0.95em;
	font-weight: bold;
	letter-spacing: 0;
	background: whitesmoke;
	text-transform: uppercase;
	border-radius:7px;
	box-shadow: 0 0 10px gray;
	padding:8px 50px;
}
.fix {
	clear: both;
}
hr {
	box-shadow: 0 0 1px black;
	border: 1px solid white;
	outline: 0;
}
section:after {
	clear: both;
	content:'';
}
body {
	color: #252524;
	font-family: "PT sans Narrow";
	font-size: 22px;
	background: white;
	letter-spacing: 0.09px;
}
.header div.bg {
	width: 100%;
	height: 5px;
	background: #ff980a;
}
.logo {
	width: 377px;
	height: 70px;
	display: inline-block;
	background: url(../images/logo.png) no-repeat;
	background-position: center;
	padding: 10px 0;
}
.content {
}

section.showcase {
	background: url(../images/showcasebg.jpg) no-repeat;
	background-size: 100% 455px;
	background-position: 0 0;
}
.showcase_wrapper {
	color: white;
	max-width: 1000px;
	margin: 0 auto;
}
.showcase_wrapper:after {
	clear: both;
}
.showcasepart1,.showcasepart2 {
	float: left;
	height: 464px;
}
.showcasepart1 {
	width: 58%;
}
.showcasepart2 {
	width: 42%;
	text-align: left;
}

.showcasepart1 h2 {
	font-size: 1.1em;
	letter-spacing: 0.4px;
	margin-top:40px;
	margin-bottom:15px;
}
.showcasepart1 span {
	text-decoration: underline;
}
.showcasepart1 img {
	width: 580px;
}
.showcasepart2wrapper {
	padding-left:55px;
}
.showcasepart2  h1{
	font-weight: normal;
	margin-top: 110px;
	margin-bottom: 25px;
}
.showcasepart2 h2 {
	font-size:1.2em;
	margin-top: 40px;
}
.showcasepart2 p {
	font-style: italic;
	font-size: 0.8em;
	margin-bottom: 60px;
}
.tiles {
	background: #f4f4f4;
}
.tiles_wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
ul.subwrap > li {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tiles_wrapper > ul {
	padding: 0;
}
.tiles > ul > li {
	display: inline-block;
	padding: 0;
}
.tile {
	float: left;
	width: 300px;
	border: 1px solid #E4E4E4;
	border-radius: 5px;
	box-shadow: 0 0 2px gray;
	background: white;
	display: inline-block;
}
.tile h1 {
	height: 35px;
	font-size: 0.8em;
	text-align: left;
	border-bottom: 1px solid #e4e4e5;
	background: #f4f4f4;
	padding: 15px 25px;
	margin: 0;
}
.tilecontent {
	padding-top: 15px;
	height: 215px;
}
.tile ul
{
	list-style-image:url(../images/list-item.png);
	padding-left: 35px;
}
.tile p {
	font-size: 0.7em;
	text-align: justify;
	letter-spacing: 0;
	padding-right: 20px;
}
.centertile {
	margin-left: 40px;
	margin-right: 40px;
}
.clients {
	max-width: 1000px;
	background: white;
	margin: 0 auto;
}
.clients ul li {
	display: inline-block;
	margin: 20px 30px;
}
.clients h1 {
	color: #ebb161;
	font-weight: normal;
}
.footer{
	width: 100%;
	background: #f4f4f4;
}
.footer p {
	font-size: 0.9em;
	padding: 20px;
	margin:0;
}
.footer p span {
	color: #ebb168;
	font-size: 1.2em;
	font-weight: bold;
}
/*END-BASE******************************************************************************************************/

@media only screen and (max-width: 1023px) {
	.showcase_wrapper {
		max-width: 1000px;
	}
}
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 500px) {}
@media only screen and (max-width: 400px) {}
@media only screen and (max-width: 320px) {}
@media only screen and (max-width: 241px) {}